.paymentFormContainer {
    padding: 1rem 2rem 2rem 2rem;

    .buttonsContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        div {
            a {
                &:nth-of-type(1) {
                    margin-right: 15px;
                }
            }
        }

    }
}